<mat-toolbar>
  <fa-icon [icon]="faBox" class="sidenav__box-icon"></fa-icon>
  <span>Magazyn danych blockchain</span>
</mat-toolbar>
<section class="login-page">

  <div class="login">
    <h2 class="login__title">{{ "login.title" | translate }}</h2>
    <form class="login__form" [formGroup]="loginForm">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "login.username" | translate }}</mat-label>
        <input formControlName="username" matInput type="text" placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <input
                formControlName="password"
                matInput
                [type]="hide ? 'password' : 'text'"
        />
        <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="login__action-buttons">
        <button mat-button class="btn btn-primary" (click)="onSubmit()">
          {{ "login.title" | translate }}
        </button>
      </div>
    </form>
  </div>

</section>
