<app-page>
    <section class="parts">
        <div class="parts__new">
            <span class="spacer"></span>
            <button mat-button class="btn btn-secondary" (click)="openDialog()">
                {{ "parts.add" | translate }}
            </button>
        </div>
        <header class="parts__header">
            <h2>Wszystkie części</h2>
        </header>
        <div class="parts__table-container">
<!--            <mat-form-field>-->
<!--                <mat-label>Filter</mat-label>-->
<!--                <input matInput (keyup)="applyFilter($event)" placeholder="" #input />-->
<!--            </mat-form-field>-->

            <table mat-table [dataSource]="dataSource" class="parts__table">
                <!--          <ng-container matColumnDef="id">-->
                <!--            <th mat-header-cell *matHeaderCellDef></th>-->
                <!--            <td mat-cell *matCellDef="let element"> {{dataSource.data.findIndex(element)}} </td>-->
                <!--          </ng-container>-->

                <ng-container matColumnDef="ownerOrg">
                    <th mat-header-cell *matHeaderCellDef>Właściciel</th>
                    <td mat-cell *matCellDef="let element">{{ element.ownerOrg}}</td>
                </ng-container>

                <ng-container matColumnDef="assetID">
                    <th mat-header-cell *matHeaderCellDef>Identyfikator</th>
                    <td mat-cell *matCellDef="let element">{{ element.assetID}}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Cena [EUR]</th>
                    <td mat-cell *matCellDef="let element">{{ 1000 }}</td>
                </ng-container>

                <ng-container matColumnDef="publicDescription">
                    <th mat-header-cell *matHeaderCellDef>Opis</th>
                    <td mat-cell *matCellDef="let element">{{ element.publicDescription}}</td>
                </ng-container>

                <ng-container matColumnDef="isForSale">
                    <th mat-header-cell *matHeaderCellDef>Na sprzedaż</th>
                    <td mat-cell *matCellDef="let element">{{ element.isForSale}}</td>
                </ng-container>

<!--                <ng-container matColumnDef="length">-->
<!--                    <th mat-header-cell *matHeaderCellDef>Długość [cm]</th>-->
<!--                    <td mat-cell *matCellDef="let element">{{ element.length}}</td>-->
<!--                </ng-container>-->

                <ng-container matColumnDef="btn">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button class="btn btn-primary">
                            {{ "parts.more" | translate }}
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </section>
</app-page>
