@import "../../../../../colors";

.parts {
  height: 100%;
  background: $app-plain-white;
  padding: 2rem;

  &__header {
    width: calc(100% - 1rem);
    height: 5rem;
    background: $app-purple-light;
    padding: 1rem;
    margin-bottom: 2rem;
    color: #1B3847;
  }

  &__table {
    width: 100%;
  }

  &__new {
    display: flex;
    margin-bottom: 1rem;
  }

}

.spacer {
  flex: 1 1 auto;
}