<app-page>
  <div class="register">
    <h2 class="register__title">{{ "register.title" | translate }}</h2>
    <form class="register__form" [formGroup]="registerForm">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "register.username" | translate }}</mat-label>
        <input formControlName="username" matInput type="text" placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "register.email" | translate }}</mat-label>
        <input formControlName="email" matInput type="text" placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "register.name" | translate }}</mat-label>
        <input formControlName="name" matInput type="text" placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "register.surname" | translate }}</mat-label>
        <input formControlName="surname" matInput type="text" placeholder="" />
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>{{ "register.password" | translate }}</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="register__action-buttons">
        <a mat-button routerLink="/login" class="btn btn-link">{{
          "login.title" | translate
        }}</a>
        <button mat-button class="btn btn-primary" (click)="onSubmit()">
          {{ "register.title" | translate }}
        </button>
      </div>
    </form>
  </div>
</app-page>
