$app-color-yellow: #DEEC7A;
$app-grey-dark: #8E8E93;
$app-grey-light: #BEBEC0;
$app-white: #F6F6F6;
$app-plain-white: #ffffff;
$app-purple-dark: #605ED8;
$app-purple-light: #ADADED;
$app-blue-dark: #1B3847;
$app-blue-light: #536B78;