@import "../../../colors";

.sidenav-container {
  height: 100%;

  &__title {
    color: $app-blue-dark;
  }
}

.sidenav {
  width: 12rem;
  background: $app-white;
  padding: 0 0.5rem;
}

.sidenav .mat-toolbar {
  background: $app-white;
  border-color: $app-white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $app-white;
  border-color: $app-white;
}

.sidenav__link-text {
  margin-right: 1rem;
  color: $app-plain-white;
}

.sidenav__box-icon {
  margin-left: 3rem;
}

.mat-sidenav-content {
  background: $app-plain-white;
}

.page {
  &__toolbar {
    display: flex;
    flex-direction: row;

    &-menu {
      align-items: center;
    }

    &-menu-btn {
      background-color: $app-grey-dark;
      width: 12rem;
      margin-right: 2rem;
    }

    &-spacer {
      flex: 1 1 auto;
    }
  }
}
